# platform = multi_platform_all
# reboot = false
# strategy = disable
# complexity = low
# disruption = low
- name: Ensure geolite2-city is removed
  package:
    name: geolite2-city
    state: absent
  tags:
  - CCE-82940-8
  - disable_strategy
  - low_complexity
  - low_disruption
  - low_severity
  - no_reboot_needed
  - package_geolite2-city_removed
