# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,SUSE Linux Enterprise 15
# reboot = false
# strategy = enable
# complexity = low
# disruption = low


- (xccdf-var var_pcp_bind_all_unreserved_ports)


- name: Ensure python3-libsemanage installed
  package:
    name: python3-libsemanage
    state: present

- name: Set SELinux boolean pcp_bind_all_unreserved_ports accordingly
  seboolean:
    name: pcp_bind_all_unreserved_ports
    state: "{{ var_pcp_bind_all_unreserved_ports }}"
    persistent: yes
