# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,SUSE Linux Enterprise 15
# reboot = false
# strategy = enable
# complexity = low
# disruption = low


- (xccdf-var var_httpd_dbus_sssd)


- name: Ensure python3-libsemanage installed
  package:
    name: python3-libsemanage
    state: present

- name: Set SELinux boolean httpd_dbus_sssd accordingly
  seboolean:
    name: httpd_dbus_sssd
    state: "{{ var_httpd_dbus_sssd }}"
    persistent: yes
