# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,SUSE Linux Enterprise 15
# reboot = false
# strategy = enable
# complexity = low
# disruption = low


- (xccdf-var var_httpd_builtin_scripting)


- name: Ensure python3-libsemanage installed
  package:
    name: python3-libsemanage
    state: present

- name: Set SELinux boolean httpd_builtin_scripting accordingly
  seboolean:
    name: httpd_builtin_scripting
    state: "{{ var_httpd_builtin_scripting }}"
    persistent: yes
