# platform = Red Hat Enterprise Linux 8,Red Hat Enterprise Linux 9
# reboot = true
# strategy = configure
# complexity = medium
# disruption = low

- name: "Ensure BLS boot entries options contain audit=1"
  block:
    - name: "Check how many boot entries exist "
      find:
        paths: "/boot/loader/entries/"
        patterns: "*.conf"
      register: n_entries

    - name: "Check how many boot entries set audit=1"
      find:
        paths: "/boot/loader/entries/"
        contains: "^options .*audit=1.*$"
        patterns: "*.conf"
      register: n_entries_options

    - name: "Update boot entries options"
      command: grubby --update-kernel=ALL --args="audit=1"
      when: n_entries is defined and n_entries_options is defined and n_entries.matched != n_entries_options.matched

    - name: "Check if /etc/kernel/cmdline exists"
      stat:
        path: /etc/kernel/cmdline
      register: cmdline_stat

    - name: "Check if /etc/kernel/cmdline contains audit=1"
      find:
        paths: "/etc/kernel/"
        patterns: "cmdline"
        contains: "^.*audit=1.*$"
      register: cmdline_find

    - name: "Add /etc/kernel/cmdline contains audit=1"
      lineinfile:
        create: yes
        path: "/etc/kernel/cmdline"
        line: 'audit=1'
      when: cmdline_stat is defined and not cmdline_stat.stat.exists

    - name: "Append /etc/kernel/cmdline contains audit=1"
      lineinfile:
        path: "/etc/kernel/cmdline"
        backrefs: yes
        regexp: "^(.*)$"
        line: '\1 audit=1'
      when: cmdline_stat is defined and cmdline_stat.stat.exists and cmdline_find is defined and cmdline_find.matched == 0
