# platform = multi_platform_all
# reboot = false
# strategy = restrict
# complexity = low
# disruption = low

- name: "Put contents into /etc/audit/rules.d/30-ospp-v42-4-delete-success.rules according to policy"
  copy:
    dest: "/etc/audit/rules.d/30-ospp-v42-4-delete-success.rules"
    content: |+
        ## Successful file delete
        -a always,exit -F arch=b32 -S unlink,unlinkat,rename,renameat -F success=1 -F auid>=1000 -F auid!=unset -F key=successful-delete
        -a always,exit -F arch=b64 -S unlinkat,renameat -F success=1 -F auid>=1000 -F auid!=unset -F key=successful-delete
    force: yes

- name: Remove any permissions from other group
  file:
    path: /etc/audit/rules.d/30-ospp-v42-4-delete-success.rules
    mode: o-rwx