# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,SUSE Linux Enterprise 15
# reboot = false
# strategy = enable
# complexity = low
# disruption = low


- (xccdf-var var_virt_use_samba)


- name: Ensure python3-libsemanage installed
  package:
    name: python3-libsemanage
    state: present

- name: Set SELinux boolean virt_use_samba accordingly
  seboolean:
    name: virt_use_samba
    state: "{{ var_virt_use_samba }}"
    persistent: yes
