# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,SUSE Linux Enterprise 15
# reboot = false
# strategy = enable
# complexity = low
# disruption = low


- (xccdf-var var_cobbler_can_network_connect)


- name: Ensure python3-libsemanage installed
  package:
    name: python3-libsemanage
    state: present

- name: Set SELinux boolean cobbler_can_network_connect accordingly
  seboolean:
    name: cobbler_can_network_connect
    state: "{{ var_cobbler_can_network_connect }}"
    persistent: yes
