# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,SUSE Linux Enterprise 15
# reboot = false
# strategy = enable
# complexity = low
# disruption = low


- (xccdf-var var_xdm_sysadm_login)


- name: Ensure python3-libsemanage installed
  package:
    name: python3-libsemanage
    state: present

- name: Set SELinux boolean xdm_sysadm_login accordingly
  seboolean:
    name: xdm_sysadm_login
    state: "{{ var_xdm_sysadm_login }}"
    persistent: yes
