# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,SUSE Linux Enterprise 15
# reboot = false
# strategy = enable
# complexity = low
# disruption = low


- (xccdf-var var_mozilla_plugin_bind_unreserved_ports)


- name: Ensure python3-libsemanage installed
  package:
    name: python3-libsemanage
    state: present

- name: Set SELinux boolean mozilla_plugin_bind_unreserved_ports accordingly
  seboolean:
    name: mozilla_plugin_bind_unreserved_ports
    state: "{{ var_mozilla_plugin_bind_unreserved_ports }}"
    persistent: yes
